/* * {
	margin: 0;
	padding: 0;
} */

:root {
	--cFacebook: #4267b2;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
}

/* Container */
.container {
	display: grid;
	grid-template: 15% 1fr 25% / 18% 1fr;
	grid-template-areas: "header header"
						 "nav content"
						 "footer footer";
	max-height: 100vh;
}

.header {
	grid-area: header;
	/* background-color: aqua; */
	border: 3px solid red;
	display: grid;
	grid-template: 100% / 20% 1fr 20%;
	/* position: sticky; */
	/* top: 0px; */
}

.nav {
	grid-area: nav;
	border: 3px solid red;
	/* background-color: red; */
	display: grid;
	/* grid-template: 45% 15% / 1fr; */
	align-content: center;
	justify-content: center;
	/* align-items: center; */
	/* justify-items: center; */
	width: 100%;
}

.content {
	grid-area: content;
	/* background-color: blue; */
	border: 3px solid red;
	overflow-y: scroll;
}

.footer {
	grid-area: footer;
	/* background-color: orange; */
	border: 3px solid red;
}

/* Header */
.header2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 2em;
	color: var(--cFacebook);
}

.facebook {
	color: var(--cFacebook);
}

/* Nav */
.content_nav p, .inav {
	display: grid;
	align-items: center;
	justify-items: center; */
}

.inav img {
	width: 35%;
}

.menuA {
	/* display: inline-flex; */
	position: relative;
}

.hoverNav {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	/* width: 5%; */
}

.menuA:hover .hoverNav {
	display: inline-flex;
	width: 35%;
}

.menuA:hover p {
	color: red;
}

a {
	text-decoration: none;
}

/* Content */

